<footer class="site-footer" role="contentinfo" aria-label="Pie de página del sitio">
  <div class="main-container long left">
    <div class="col-lg-12">
      <div class="col-lg-3 col-sm-3 col-xs-6 centro cleaning">
       <div class="col-lg-4">
       <img src="/assets/images/facebook.png">
       </div>
       <div class="col-lg-8 cleaning top">
       <a href="#" class="footer-section-title">faccebook/factus</a>
       </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6 centro cleaning">
       <div class="col-lg-4">
       <img src="/assets/images/twitter.png">
       </div>
       <div class="col-lg-8 cleaning top">
       <a href="#" class="footer-section-title">twitter/factus</a>
       </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6 centro cleaning">
       <div class="col-lg-4">
       <img src="/assets/images/github.png">
       </div>
       <div class="col-lg-8 cleaning top">
       <a href="#" class="footer-section-title">github/factus</a>
       </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-6 centro cleaning">
       <div class="col-lg-4">
       <img src="/assets/images/factus.png">
       </div>
       <div class="col-lg-8 cleaning top">
       <a href="#" class="footer-section-title">Factus</a>
       </div>
      </div>
    </div>
   </div> 
</footer>
